.flex-align {
    align-items: center;
    justify-content: space-between;
}

.m-auto{
    margin: auto
}

.img-placeholder {
    height: 11.25rem;
    background: #c0c0c0;
}

.pull-right {
    float: right
}
