/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body {
    padding-top: 80px;
}

// Angular5 Data Table
table {
    border: 1px solid #ddd;
}
.data-table-wrapper {
    margin-bottom: 3em;
}
.button-panel button {
    background: #f6f6f6;
    margin-left: 5px;
    border: 1px solid #ccc;
}
.button-panel button:hover {
    background: #eee;
}
